* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #071E2E;
    --secondary-color: #03ADEA;
}

body {
    background-color: var(--main-color);
    color: white;
    font-family: sans-serif;
}

header {
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

header ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.Main {
    display: flex;
    justify-content: space-between;

   
}

.btn {
    font-size: 18px;
    font-weight: 400;
    padding: 8px 12px;
    border: 1px solid transparent;
}

.btnLight {
    background-color: var(--secondary-color);
}


.btn-container {
    margin-top: 64px;
    display: flex;
    gap: 10px;
}

.btnLight:hover{
    transition: all 0.9s;
    background-color: #071E2E;
    cursor: pointer;
}

.btnLight {
    font-size: 18px;
    font-weight: 400;
    padding: 8px 12px;
    border: 1px solid transparent;
}

.btnLight :hover {
    transition: all 0.9s;
    cursor: pointer;
    background-color: #071E2E;
}

.title {
    font-size: 40px;
}

.Maintext {
    font-size: 64px;
    font-weight: 600;
    line-height: 84px;

}

.Secondarytext {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}

.Tertiarytext {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    width: 70%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 768px) {
    .Main {
        flex-direction: column;
        gap: 10px;
    }

}.MyImg {
    width: 546px;
    height: 743px;
}

.page-container {
    padding: 0 142px;
}

.Categories {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.textside {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


